{% extends "base.html.twig" %}
{% block body %}
    <div class="container pt-sm-4 text-center col-sm-8 border">
        <div class="row text-center border">
            Por favor rellene el formulario
        </div>
    </div>
    <div class="container col-sm-8 border pt-sm-4">
        <form id="notificationForm" method="post" action="update">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('edit_notification') }}" />
        <input type="hidden" name="id" value="{{ empresa.id }}" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group border ">
                    <label for="nombre">Nombre</label>
                    <input required type="text" class="form-control" id="nombre" name="nombre" value="{{ empresa.nombre }}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group border ">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" id="categoria" name="categoria">
                        {% for categoria in categorias %}
                            {% if categoria.id == empresa.categoria.id %}
                                <option selected value="{{ categoria.id }}">{{categoria.nombre }}</option>
                            {% else %}
                                <option value="{{ categoria.id }}">{{categoria.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group border ">
                    <label for="provincia">Provincia</label>
                    <select class="form-control" id="provincia" name="provincia">
                       {% for provincia in provincias %}
                           {% if provincia.IdProvincia == empresa.provincia.IdProvincia %}
                               <option selected value="{{ provincia.IdProvincia }}">{{ provincia.provincia }}</option>
                           {% else %}
                               <option value="{{ provincia.IdProvincia }}">{{ provincia.provincia }}</option>
                           {% endif %}
                      {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group border">
                    <label for="poblacion">Población</label>
                    <span id="cajaMunicipio">
                        {% include "@WebManagement/Empresa/cajaMunicipio.html.twig" %}
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group border">
                    <label for="email">Email</label>
                    <input required type="email" class="form-control" id="email" name="email" value="{{ empresa.email }}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group border">
                    <label for="prioridad">Prioridad</label>
                    <select class="form-control" id="prioridad" name="prioridad">
                        {% for i in 1..10 %}
                            <option value="{{ i }}">{{ i }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group border">
                    <label for="comentarios">Comentarios</label>
                    <textarea class="form-control" name="comentarios" id="comentarios" rows="3">{{ empresa.comentario }}</textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group border text-center">
                    <button type="submit" class="btn btn-primary">
                        Aceptar
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Eliminar
                    </button>
                </div>
            </div>

        </div>
        </form>
    </div>
    {% include "@WebManagement/Empresa/modalEliminar.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/empresas.js') }}"></script>
{% endblock %}